---
// consts
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

//components
import BlogLayout from '@layouts/BlogLayout.astro';
import AsideNavigation from '@components/AsideNavigation.astro';
import AsideNavigationAnchor from '@components/AsideNavigationAnchor.astro';
import SectionPlanificationsGroup from '@components/Sections/SectionPlanificationsGroup.astro';
import TitleSimple from '@components/TitleSimple.astro';

//libs
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

//types
import type { Eje, AsideNavigationEntry } from '@types';
import { Icon } from 'astro-icon/components';

const planifications: CollectionEntry<'planifications'>[] = await getCollection('planifications');
const ejesTematicos: CollectionEntry<'ejes-tematicos'>[] = await getCollection('ejes-tematicos');

const ejes: Eje[] = [];
const asideNavigation: AsideNavigationEntry[] = [
	{
		name: 'Planificaciones ESI',
		slug: 'planificaciones-esi',
		submenu: [],
	},
];

ejesTematicos.forEach((eje) => {
	let posts: CollectionEntry<'planifications'>[] = [];
	planifications.forEach((plani) => {
		plani.data.ejes.forEach((name) => {
			if (eje.id === name.id) {
				posts.push(plani);
			}
		});
	});
	ejes.push({
		title: eje.data.title,
		resumen: eje.data.resumen,
		posts: posts,
		slug: eje.data.slug,
	});
	asideNavigation[0].submenu?.push({
		name: eje.data.title,
		slug: eje.data.slug,
	});
});
---

<BlogLayout title={`${SITE_TITLE} | Blog`} description={SITE_DESCRIPTION}>
	<TitleSimple title="Blog 'ESÍ se planifica'" classes="lg:mb-16" />
	<div class="relative px-4">
		<AsideNavigationAnchor target="planificaciones-esi" />
		<h4 class="mb-4 text-pretty text-3xl font-medium lg:mb-8 lg:text-4xl">
			Red de recursos y planificaciones. De docentes para docentes.
		</h4>
		<p class="text-body mb-16">
			En esta sección encontrarás una selección de planificaciones diseñadas por las y los estudiantes de 2° C del
			Profesorado de Educación Primaria del ISFDyT N° 52 de San Isidro. Se trata de propuestas didácticas que
			garantizan el abordaje de los contenidos de Educación Sexual Integral para el Nivel Primario.<br /><br />

			Las planificaciones están organizadas en tres secciones: “Convivencia y Derechos”, “Cuerpos, salud y
			cuidados” y “Género y Diversidad”. Reflejan así el entrecruzamiento de los cinco ejes conceptuales de la ESI
			según la Resolución N° 340/18 del CFE (<a
				href="https://www.argentina.gob.ar/sites/default/files/anexo_resolucion_cfe_340_18_0.pdf"
				target="_blank"
				rel="noopener noreferrer"
				class="text-xs font-medium text-blue-500"
				><Icon name="ion:md-download" width={18} height={18} class="inline" /></a
			>). En todas ellas está presente el abordaje transversal de los lineamientos de la ESI en diferentes áreas
			curriculares. ¡A recorrerlas e inspirarse!
		</p>
	</div>
	<SectionPlanificationsGroup ejes={ejes} />
	<AsideNavigation slot="aside" title="En esta página" entries={asideNavigation} />
</BlogLayout>
