@tailwind base;
@tailwind utilities;

:root {
	--header-height: 4rem;
}

@layer base {
	body {
		@apply bg-white text-slate transition-colors dark:bg-black dark:text-white dark:text-opacity-85;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-serif font-extrabold tracking-tight text-black dark:text-white;
	}
	.text-body {
		@apply text-balance text-base tracking-wide lg:text-lg dark:font-extralight;
	}
	p,
	li {
		@apply text-body;
	}
	.text-block {
		@apply max-w-screen-sm 2xl:max-w-screen-md;
	}
	.text-block .tagname {
		@apply inline-block pb-2 text-xs font-semibold uppercase tracking-wide text-slate sm:pb-3 sm:text-sm 2xl:pb-4 2xl:text-base dark:text-primary dark:text-opacity-90;
	}
	.text-block .title {
		@apply pb-2 text-3xl capitalize sm:pb-3 sm:text-4xl 2xl:pb-4 2xl:text-6xl;
	}
	.text-block .copy {
		@apply pb-4 text-base leading-6 sm:pb-4 sm:text-lg 2xl:pb-6 2xl:text-[20px] 2xl:leading-8;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
