@tailwind base;
@tailwind utilities;

:root {
	--header-height: 4rem;
}

@layer base {
	body {
		@apply bg-white text-slate transition-colors dark:bg-black dark:text-white dark:text-opacity-85;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-serif tracking-tight text-black dark:text-white;
	}
	.text-body {
		@apply text-pretty text-lg tracking-wide lg:text-lg dark:font-extralight;
	}
	p,
	li {
		@apply text-body;
	}

	.post__content h2 {
		@apply my-8 text-2xl font-normal transition-colors;
	}

	.post__content p {
		@apply my-4;
	}
	.post__content li {
		@apply my-2 font-medium;
	}
	.post__content img {
		@apply my-4;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
