---
// components
import ContainerDefault from '@components/ContainerDefault.astro';
import LinkSpecial from '@components/Link/LinkSpecial.astro';

//libs
import { Image } from 'astro:assets';

//assets
import HERO from '@assets/LOGO__FULL__ALT__LIGHT.svg';
---

<section class="px-4 pb-16 pt-24 text-center">
	<ContainerDefault>
		<div class="mx-auto mb-2 w-full max-w-[320px] sm:max-w-[480px]">
			<Image src={HERO} alt={'ESI se planifica'} class="h-full w-full" />
		</div>
		<h2
			class="body-large text-slate-800-200 mx-auto mb-6 max-w-[380px] font-sans text-lg sm:text-xl sm:leading-[1.5] md:text-xl md:leading-[2.25rem] lg:max-w-[520px] 2xl:text-2xl 2xl:leading-[2.75rem]"
		>
			Red de recursos y planificaciones para tu aula. De docentes, para docentes.
		</h2>
		<LinkSpecial href="/blog" label="Ver Más" />
		<!-- <Link href="/blog" label="Ver más" type="primary" size="lg" classes="mx-auto min-w-36 justify-center" /> -->
	</ContainerDefault>
</section>
