---
import { Icon } from 'astro-icon/components';

interface Props {
	to: string;
	name?: string;
	leadingIcon?: string;
	trailingIcon?: string;
	size?: string | 'normal';
}

const { to, name, leadingIcon, trailingIcon, size } = Astro.props;
---

<a
	href={to}
	class="relative cursor-pointer after:absolute after:-left-0 after:top-0 after:z-0 after:h-full after:w-full after:bg-violet-400 after:bg-opacity-0 after:transition-colors after:duration-100 after:content-[''] hover:after:bg-opacity-35"
>
	<div
		class="relative z-10 flex items-center justify-between gap-4 px-4 py-2"
		class:list={[{ 'gap-4': size === 'normal' }, { 'gap-2 text-sm': size === 'small' }]}
	>
		{
			leadingIcon && (
				<div class="dark:text-white dark:opacity-80">
					<Icon name={leadingIcon} width={size != 'normal' ? 18 : 24} height={size != 'normal' ? 18 : 24} />
				</div>
			)
		}
		<div class="mr-auto lg:text-sm xl:text-base dark:text-white dark:opacity-80">
			{name}
		</div>
		{
			trailingIcon && (
				<div class="dark:text-white dark:opacity-80">
					<Icon name={trailingIcon} width={12} height={12} />
				</div>
			)
		}
	</div>
</a>
