---
import Navigation from './Navigation.astro';
---

<div
	data-state="close"
	id="mobile-menu"
	class="pointer-events-none fixed left-0 right-0 top-0 z-30 h-screen overflow-hidden bg-white pt-[--header-height-sm] opacity-0 transition-opacity duration-300 lg:pt-[--header-height-lg] dark:bg-secondary"
>
	<div class="mx-auto max-w-2xl pt-8">
		<Navigation />
	</div>
</div>
<script>
	import type { CustomEventWithDetail } from '../../types';

	const page = document.getElementById('page-content') as HTMLElement | null;
	const menu = document.getElementById('mobile-menu') as HTMLElement | null;

	function openMenu() {
		menu?.classList.remove('opacity-0', 'pointer-events-none');
		page?.classList.add('pointer-events-none');
		if (menu && menu.dataset) menu.dataset.state = 'open';
	}

	function closeMenu() {
		menu?.classList.add('opacity-0', 'pointer-events-none');
		page?.classList.remove('pointer-events-none');
		if (menu && menu.dataset) menu.dataset.state = 'close';
	}

	function mobileMenuToggle(ev: CustomEventWithDetail<{ command: string }>) {
		if (ev.detail.command === 'open') openMenu();
		if (ev.detail.command === 'close') closeMenu();
	}
	window.addEventListener('mobileBlogMenuToggle', mobileMenuToggle as EventListener);
</script>
