---
import NavigationSections from '../Navigation/NavigationSections.astro';
---

<nav class="flex flex-col justify-between h-full">
	<div class="mb-8 flex-grow-0 overflow-y-auto overflow-x-hidden max-h- flex flex-col justify-between h-full">
		<NavigationSections />
	</div>
</nav>
