---
import { Icon } from 'astro-icon/components';

interface Props {
	name?: string;
	leadingIcon?: string;
	trailingIcon?: string;
}

const { name, leadingIcon, trailingIcon } = Astro.props;
---

<button
	class="navigation__button w-full cursor-pointer relative after:content-[''] after:absolute after:top-0 after:-left-0 after:w-full after:h-full after:bg-primary after:bg-opacity-0 after:z-0 hover:after:bg-opacity-35 after:transition-colors after:duration-100"
>
	<div class="flex gap-4 justify-between px-2 py-2 items-center relative z-10">
		{
			leadingIcon && (
				<div class="">
					<Icon name={leadingIcon} width={24} height={24} />
				</div>
			)
		}
		<div class="mr-auto">
			{name}
		</div>
		{
			trailingIcon && (
				<div class="trailing__icon transition-transform duration-100">
					<Icon name={trailingIcon} width={20} height={20} />
				</div>
			)
		}
	</div>
</button>

<script>
	const navButtons = document.querySelectorAll('.navigation__button');
	navButtons.forEach((button) => {
		function onClick() {
			button.querySelector('.trailing__icon')?.classList.toggle('rotate-180');
		}
		button.addEventListener('click', onClick);
	});
</script>
