---
// Components
import NavigationLink from '@components/Navigation/NavigationLink.astro';
import NavigationButton from '@components/Navigation/NavigationButton.astro';
import Accordion from '@components/Accordion.astro';

// Libraries
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';

const ejesTematicos = await getCollection('ejes-tematicos');
const root = new URL(Astro.request.url).origin;
---

<!-- Sections -->
<div class="text-lg flex flex-col">
	<Accordion>
		<NavigationButton slot="trigger" name="Inicio" leadingIcon="ion:home" trailingIcon="ion:chevron-down" />
		<ul slot="content" class="pl-4">
			<li>
				<NavigationLink to="/" name="Indice" leadingIcon="ion:book" size="small" />
			</li>
			<li>
				<NavigationLink to="/" name="ESI" leadingIcon="ion:accessibility" size="small" />
			</li>
		</ul>
	</Accordion>
	<Accordion>
		<NavigationButton
			slot="trigger"
			name="Historia"
			leadingIcon="ion:finger-print"
			trailingIcon="ion:chevron-down"
		/>
		<ul slot="content" class="pl-4">
			<li>
				<NavigationLink to="/" name="Indice" leadingIcon="ion:book" size="small" />
			</li>
			<li>
				<NavigationLink to="/" name="ESI" leadingIcon="ion:accessibility" size="small" />
			</li>
		</ul>
	</Accordion>
	<Accordion>
		<NavigationButton slot="trigger" name="Blog" leadingIcon="ion:md-bookmarks" trailingIcon="ion:chevron-down" />
		<ul slot="content" class="pl-4">
			<li>
				<NavigationLink to="/blog" name="Inicio" size="small" />
			</li>
			{
				ejesTematicos.map((eje) => (
					<li>
						<NavigationLink to={`${root}/${eje.data.slug}/1`} name={eje.data.title} size="small" />
					</li>
				))
			}
		</ul>
	</Accordion>
	<Accordion>
		<NavigationButton
			slot="trigger"
			name="Contacto"
			leadingIcon="ion:md-contacts"
			trailingIcon="ion:chevron-down"
		/>
		<ul slot="content" class="pl-4">
			<li>
				<NavigationLink to="/" name="+54 9 11 7360-4520" leadingIcon="ion:call" size="small" />
			</li>
			<li>
				<NavigationLink to="/" name="nazarenasilvetti@gmail.com" leadingIcon="ion:mail" size="small" />
			</li>
		</ul>
	</Accordion>
	<NavigationLink to="/" name="Información" leadingIcon="ion:information-circle" />
	<div class="pl-2 border-t border-slate pt-8 mt-6">
		<div class="flex gap-[2px] items-center mb-6 leading-none font-extrabold font-serif dark:text-white">
			Recursero <span class="block w-[6px] h-[6px] bg-primary rounded-full translate-y-[4px]"></span>
		</div>
		<div class="flex gap-2 my-4 items-center text-xs font-normal font-sans">
			<Icon name="ion:mail" width={14} height={14} />
			<span>recursero@gmail.com</span>
		</div>
		<div class="flex gap-2 my-4 items-center text-xs font-normal font-sans">
			<Icon name="ion:call" width={14} height={14} />
			<span>+54 9 11 7360-4520</span>
		</div>
	</div>
</div>
