---
/* *********
 * This component is used to create an anchor for an element in the AsideNavigation
 ***********/

interface Props {
	target: string;
}

const { target } = Astro.props;
---

<div id={target} class="absolute" style="top: calc(calc(var(--header-height) + 2rem) * -1);"></div>
