---
interface Props {
	classes?: string;
}

const { classes } = Astro.props;
---

<div class="relative w-14" class:list={[classes]}>
	<button data-state="closed" id="navigation-menu" class="absolute right-0 top-1/2 h-12 w-14 -translate-y-1/2">
		<div class="relative overflow-hidden text-end font-semibold md:text-lg">
			<div class="menu-open relative transition-transform duration-300 dark:text-white">Menu</div>
			<div
				class="menu-close absolute right-0 top-0 translate-y-full rotate-6 transition-transform duration-300 dark:text-white"
			>
				Cerrar
			</div>
		</div>
	</button>
</div>

<script>
	import useDispatchEvent from '../js/useDispatchEvent';
	import type { EventDetail } from '../types';

	const openCommand: EventDetail = {
		command: 'open',
	};
	const closeCommand: EventDetail = {
		command: 'close',
	};

	const menuBtn = document.getElementById('navigation-menu') as HTMLElement | null;
	const menu = menuBtn?.querySelector('.menu-open') as HTMLElement | null;
	const close = menuBtn?.querySelector('.menu-close') as HTMLElement | null;

	function setMenuToOpen() {
		if (menuBtn && menuBtn.dataset) {
			menu?.classList.add('-translate-y-full', '-rotate-6');
			close?.classList.remove('translate-y-full', 'rotate-6');
			menuBtn.dataset.state = 'open';
		}
	}

	function setMenuToClose() {
		if (menuBtn && menuBtn.dataset) {
			menu?.classList.remove('-translate-y-full', '-rotate-6');
			close?.classList.add('translate-y-full', 'rotate-6');
			menuBtn.dataset.state = 'closed';
		}
	}

	function openMenu() {
		setMenuToOpen();
		useDispatchEvent('mobileBlogMenuToggle', openCommand);
	}

	function closeMenu() {
		setMenuToClose();
		useDispatchEvent('mobileBlogMenuToggle', closeCommand);
	}

	function toggleMenu() {
		menuBtn?.dataset.state === 'closed' ? openMenu() : closeMenu();
	}

	function onResize() {
		if (window.innerWidth >= 1024 && menuBtn?.dataset.state === 'open') {
			closeMenu();
		}
	}

	menuBtn?.addEventListener('mousedown', toggleMenu);
	window.addEventListener('resize', onResize);
</script>
