---
//components
import Image from 'astro/components/Image.astro';
import ButtonTheme from './ButtonTheme.astro';
import ButtonMenu from '@components/ButtonMenu.astro';

//assets
import LogoLight from '@assets/LOGO__LIGHT.svg';
import LogoDark from '@assets/LOGO__DARK.svg';
import LogoFullLight from '@assets/LOGO__FULL__LIGHT.svg';
import LogoFullDark from '@assets/LOGO__FULL__DARK.svg';
---

<header
	class="fixed left-0 top-0 z-50 w-full border-b border-violet-400 bg-violet-50 p-2 shadow-sm shadow-violet-400 md:left-1/2 md:top-4 md:max-w-3xl md:-translate-x-1/2 md:rounded-full md:p-4 xl:max-w-4xl xl:p-6 dark:border-gray dark:bg-slate"
>
	<div class="flex items-center justify-between">
		<div class="relative grid place-items-center">
			<a href="/" class="flex items-center gap-2 font-serif">
				<div class="h-6 xl:h-8">
					<Image src={LogoLight} alt="ESI se planifica" class="h-full w-fit md:hidden dark:hidden" />
					<Image
						src={LogoFullLight}
						alt="ESI se planifica"
						class="hidden h-full w-fit md:block dark:hidden"
					/>
					<Image
						src={LogoDark}
						alt="ESI se planifica"
						class="hidden h-full w-fit md:hidden dark:block dark:md:hidden"
					/>
					<Image src={LogoFullDark} alt="ESI se planifica" class="hidden h-full w-fit dark:md:block" />
				</div>
			</a>
		</div>
		<div class="ml-auto flex items-center">
			<ButtonTheme />
		</div>
		<ButtonMenu />
	</div>
</header>
