---
import ButtonMenu from './ButtonMenu.astro';
import ButtonSearch from './ButtonSearch.astro';
import ButtonTheme from './ButtonTheme.astro';

interface Props {
	classes?: string;
}
const { classes }: Props = Astro.props;
---

<header class="fixed h-[--header-height] left-0 top-0 right-0 z-40" class:list={[classes]}>
	<div
		class="max-w-7xl mx-auto px-2 sm:px-4 md:px-8 lg:px-2 bg-white h-full dark:bg-black border-b-4 border-secondary dark:border-primary rounded-b-md dark:shadow-none shadow-sm shadow-gray relative z-50"
	>
		<div class="h-full flex justify-between items-center">
			<!-- Logo -->
			<div class="w-6 h-6 relative grid place-items-center">
				<a
					href="/"
					class="absolute w-12 h-12 text-2xl font-serif font-extrabold flex gap-[1px] items-center justify-center leading-none dark:text-white"
				>
					R<span class="w-[6px] h-[6px] bg-primary rounded-full translate-y-[7px]"></span>
				</a>
			</div>

			<div class="flex items-center ml-auto">
				<ButtonSearch />
				<ButtonTheme />
			</div>
			<ButtonMenu classes="lg:hidden" />
		</div>
	</div>
</header>
