---
import MenuSections from './Menu/MenuSections.astro';
import MenuFooter from './Menu/MenuFooter.astro';
---

<nav
	data-state="close"
	id="mobile-menu"
	class="fixed bg-primary dark:bg-secondary top-0 h-screen right-0 left-0 z-40 overflow-hidden transition-opacity duration-300 opacity-0 pointer-events-none"
>
	<div class="container flex flex-col justify-between h-full pb-16 pt-24">
		<div class="mb-8 flex-grow-0 overflow-y-auto overflow-x-hidden max-h- flex flex-col justify-between h-full">
			<MenuSections />
		</div>
		<div class="border-t-2 h-32 border-white mt-auto py-4 text-xs">
			<MenuFooter />
		</div>
	</div>
</nav>
<script>
	import type { CustomEventWithDetail } from '../types';

	const page = document.getElementById('page-content') as HTMLElement | null;
	const menu = document.getElementById('mobile-menu') as HTMLElement | null;

	function openMenu() {
		menu?.classList.remove('opacity-0', 'pointer-events-none');
		page?.classList.add('pointer-events-none');
		if (menu && menu.dataset) menu.dataset.state = 'open';
	}

	function closeMenu() {
		menu?.classList.add('opacity-0', 'pointer-events-none');
		page?.classList.remove('pointer-events-none');
		if (menu && menu.dataset) menu.dataset.state = 'close';
	}

	function mobileMenuToggle(ev: CustomEventWithDetail<{ command: string }>) {
		if (ev.detail.command === 'open') openMenu();
		if (ev.detail.command === 'close') closeMenu();
	}
	window.addEventListener('mobileMenuToggle', mobileMenuToggle as EventListener);
</script>
