---
import { Icon } from 'astro-icon/components';

import ContainerBase from '@components/Container/ContainerBase.astro';
import MenuFooter from '@components/Menu/MenuFooter.astro';
import MenuSections from '@components/Menu/MenuSections.astro';

interface Props {
	classes?: string;
}

const { classes }: Props = Astro.props;
---

<div class:list={[classes]}>
	<div class="h-full bg-slate">
		<ContainerBase classes="px-4 py-4">
			<button
				id="menu-desktop-toggler"
				data-state="expanded"
				class="flex w-full justify-end cursor-pointer hover:bg-opacity-30 bg-opacity-0 bg-gray transition-all rounded-md hover:pr-2"
			>
				<div class="h-8 w-8">
					<div class="relative h-full w-full flex justify-center items-center">
						<Icon name="ion:chevron-back" width={22} height={22} class="absolute right-1" />
						<Icon name="ion:chevron-back" width={22} height={22} class="absolute left-4" />
					</div>
				</div>
			</button>
		</ContainerBase>
		<div class="h-full flex flex-col justify-between pt-4 pb-8">
			<MenuSections />
			<MenuFooter classes="border-t border-gray pt-8 pb-8" />
		</div>
	</div>
</div>

<style></style>

<script>
	import useDispatchEvent from 'src/js/useDispatchEvent';
	import type { EventDetail } from 'src/types';

	const toggler = document.getElementById('menu-desktop-toggler') as HTMLElement | null;

	const expandMenu: EventDetail = {
		command: 'expand',
	};
	const collapseMenu: EventDetail = {
		command: 'collapse',
	};

	function collapseDesktopMenu() {
		useDispatchEvent('toggle-desktop-menu', collapseMenu);
		if (toggler && toggler.dataset) {
			toggler.dataset.state = 'collapsed';
		}
	}

	function expandDesktopMenu() {
		useDispatchEvent('toggle-desktop-menu', expandMenu);
		if (toggler && toggler.dataset) {
			toggler.dataset.state = 'expanded';
		}
	}

	function toggleDesktopMenu() {
		toggler?.dataset.state === 'expanded' ? collapseDesktopMenu() : expandDesktopMenu();
	}

	toggler?.addEventListener('click', toggleDesktopMenu);
</script>
