---
interface Props {
	title: string;
	classes?: string;
}

const { title, classes } = Astro.props;
---

<h2
	slot="title"
	class="text-slate-800 mb-8 bg-violet-400 p-4 text-4xl font-semibold sm:rounded-md lg:text-5xl dark:bg-opacity-50 dark:text-white"
	class:list={classes}
>
	{title}
</h2>
