---
import BaseHead from '../components/BaseHead.astro';
import HeaderMobile from '../components/HeaderMobile.astro';
import Footer from '../components/Footer.astro';
import NavigationDesktop from '@components/NavigationDesktop.astro';
import HeaderDesktop from '@components/HeaderDesktop.astro';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {title} {description} />
	</head>
	<body class="max-w-screen overflow-x-hidden lg:max-h-screen lg:h-screen lg:overflow-hidden">
		<HeaderMobile classes="lg:hidden" />
		<div class="desktop__grid lg:grid lg:grid-cols-12 h-screen grid-rows-12">
			<HeaderDesktop classes="row-span-1 col-span-12" />
			<NavigationDesktop classes="hidden lg:block col-start-1 col-end-4 row-start-2 row-span-11" />
			<main
				id="page-content"
				class="relative mx-auto lg:mx-0 min-h-screen pt-32 max lg:col-start-4 lg:col-end-13 row-start-2 row-span-11 overflow-y-scroll"
			>
				<slot />
			</main>
		</div>
		<Footer />
	</body>
</html>
