---
import NavigationMobile from '@components/Navigation/NavigationMobile.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Navigation from '@components/Navigation/Navigation.astro';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {title} {description} />
	</head>
	<body class="max-w-screen overflow-x-hidden">
		<Header />
		<!-- <Navigation /> -->
		<main
			id="page-content"
			class="relative flex flex-col lg:grid grid-cols-10 gap-2 xl:gap-8 max-w-7xl mx-auto px-2 sm:px-4 md:px-8 lg:px-0"
		>
			<!-- Aside Desktop Menu -->
			<div class="lg:col-span-2">
				<aside class="hidden lg:block lg:sticky top-[--header-height] pt-8">
					<Navigation />
				</aside>
			</div>
			<!-- Page Content -->
			<div class="lg:col-span-8 pt-8 mt-[--header-height]">
				<slot />
			</div>
		</main>
		<NavigationMobile />
	</body>
</html>
