---
//components
import BaseHead from '@components/BaseHead.astro';
import MenuNavigation from '@components/Menu/MenuNavigation.astro';
import Loader from '@components/Loader.astro';

interface Props {
	title: string;
	description: string;
	namespace: string;
}

const { title, description, namespace } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {title} {description} />
	</head>
	<body class="max-w-screen bg-surface-light overflow-x-hidden dark:bg-black" data-barba="wrapper">
		<!-- <Header /> -->
		<Loader />
		<main data-barba="container" data-barba-namespace={namespace}>
			<slot />
		</main>
		<MenuNavigation />
	</body>
</html>
<script src="../js/app.js"></script>
