---
// constants
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// components
import MainLayout from './MainLayout.astro';

const { frontmatter } = Astro.props;
//console.log(frontmatter);
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>{frontmatter.title}</h1>
	<slot />
</MainLayout>
