---
import { Icon } from 'astro-icon/components';

interface Props {
	label: string;
	href: string;
	icon?: {
		name: string;
		type: 'leading' | 'trailing' | 'icon';
	};
	type: 'primary' | 'secondary' | 'tertiary' | 'destructive';
	size: 'xs' | 'sm' | 'md' | 'lg';
	classes?: string;
}

const { label, href, icon, type, size, classes, ...rest } = Astro.props as Props;
---

<a
	href={href}
	class="flex items-center gap-2 font-semibold w-fit rounded px-4"
	class:list={[
		classes,
		{
			'text-white bg-primary': type === 'primary',
			'border-2 border-primary text-primary': type === 'secondary',
			'': type === 'tertiary',
			'py-0 px-0 aspect-square gap-0 justify-center': icon && icon.type === 'icon',
			'border-2 border-danger text-danger': type === 'destructive',
			'h-6': size === 'xs',
			'h-7': size === 'sm',
			'h-8': size === 'md',
			'h-10': size === 'lg',
		},
	]}
	{...rest}
>
	{
		((icon && icon.type === 'leading') || icon?.type === 'icon') && (
			<Icon name={icon.name} height={16} width={16} class:list={[{ absolute: icon && icon.type === 'icon' }]} />
		)
	}

	<span class:list={[{ 'sr-only': icon && icon.type === 'icon' }]}>{label}</span>

	{icon && icon.type === 'trailing' && <Icon name={icon.name} height={16} width={16} />}
</a>
